---
import Card from "../Card.astro";
import { Badge } from "../ui/badge";
import { shuffleArray } from "../../lib/utils";
import { PROFILE } from "../../content/profileData";
---

<div>
  <p class="font-semibold pt-2">University</p>
  <div class="mt-2 flex w-full flex-wrap items-center justify-start gap-2">
    {
      PROFILE.studies.uni.map((study) => (
        <>
          <Badge variant="outline">{study.title}</Badge>
        </>
      ))
    }
  </div>
  <p class="font-semibold pt-2">Certifications</p>
  <div class="mt-2 flex w-full flex-wrap items-center justify-start gap-2">
    {
      PROFILE.studies.certs.map((study) => (
        <>
          <Badge variant="outline">{study.title}</Badge>
        </>
      ))
    }
  </div>
</div>
